@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<table class="table">
    <tr class="table-dark">
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>
<div class="container card">
    <h5> For questions about the website please contact:</h5>
    <div class="card-body">
        <p>Clarisse Mendenhall</p>
        <p>clarissemendenhall@gmail.com</p>
    </div>
</div>