@{
    ViewData["Title"] = "Home Page";
}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/intro.jpg" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Quality Education</span>
                    <span class="section-heading-lower">Life-long Learning</span>
                </h2>
                <p class="mb-3">
                    At Contoso University you will have a dynamic learning experience. You will leave our campus ready for whatever the world thorws at you. A world of learning starts here!
                </p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" href="#">Visit Us Today!</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Our Promise</span>
                        <span class="section-heading-lower">To You</span>
                    </h2>
                    <p class="mb-0">From instructors, to administrators, to fellow students, we are here to help you thrive! Contoso University provides a world-class education, and a life-changing experience. Come be a part of making our campus dynamic and welcoming for all students.</p>
                </div>
            </div>
        </div>
    </div>
</section>

